@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-content {
  box-shadow: 3px 3px 0px #000; /* Bold shadow without spread */
  border: 1.7px solid #000; /* Black border */
}

.cartoon-shadow {
  box-shadow: 3.5px 3.5px 0px #000; /* Bold shadow without spread */
  border: 2px solid #000; /* Black border */
}
